{% extends 'TavroAppBundle:Layouts:documentation.html.twig' %}
{% set front_page = false %}
{% block body_classes %}doc-page{% endblock %}

{% block content %}

  <div class="page-header">
    <h1>Getting Started</h1>
    <p class="lead"><i class="fa fa-fw fa-code-fork"></i> Interact with <code>api.tavro.io</code> and enhance your business.</p>
  </div>

  <div class="well">
    <h3>Disclaimer</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed elit at magna suscipit consectetur in in diam. Suspendisse condimentum lobortis semper. Donec suscipit nunc eu enim finibus sagittis. Ut vel risus ut metus molestie feugiat non at turpis. Phasellus consequat turpis viverra massa finibus pretium. Fusce ac leo lectus. Nam euismod nibh non magna semper, vitae condimentum mi sodales. Aenean sapien enim, imperdiet non metus sed, ultrices varius mauris. In libero nunc, hendrerit et mattis varius, rutrum et turpis. Pellentesque nec suscipit tellus.</p>
  </div>

  <div class="page-content">

    <div class="page-header">
      <h2>Introduction</h2>
      <p>The Tavro API allows you to interact directly with any object associated with <strong>your</strong> Organizations, as well as your personal profile.</p>
    </div>

    <ul id="intro-menu">
      <li>User
        <ul>
          <li>Profile</li>
          <li>Organizations</li>
        </ul>
      </li>
      <li>Organization
        <ul>
          <li>Expense
          <ul>
            <li>Category</li>
            <li>Comment</li>
            <li>Tag</li>
          </ul></li>
          <li>Funding
          <ul>
            <li>Category</li>
            <li>Comment</li>
          </ul></li>
          <li>Node
          <ul>
            <li>Comment</li>
            <li>Tag</li>
          </ul></li>
          <li>Product
          <ul>
            <li>Category</li>
          </ul></li>
          <li>Revenue
          <ul>
            <li>Category</li>
            <li>Comment</li>
            <li>Tag</li>
          </ul></li>
          <li>Service
          <ul>
            <li>Category</li>
          </ul></li>
          <li>Shareholder</li>
          <li>Users (UserOrganization)</li>
        </ul>
      </li>
    </ul>

    <div class="page-header">
      <h2>Authentication</h2>
      <p>Authentication is handled with <strong>HTTP Basic Authentication</strong> using your <code>API KEY</code> and <code>API PASSWORD</code>.</p>
    </div>

    <h4>Sample Authenticated Request</h4>

    <!-- Nav tabs -->
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="active"><a href="#angular" aria-controls="angular" role="tab" data-toggle="tab">Angular</a></li>
      <li role="presentation"><a href="#php" aria-controls="php" role="tab" data-toggle="tab">PHP</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" style="margin-top: 2em;">
      <div role="tabpanel" class="tab-pane active" id="angular">
<pre><code class="javascript">var profile = {
  username: '{{ app.user.username }}',
  email: '{{ app.user.email }}',
  birthday: '{{ app.user.birthday }}',
  gender: '{{ app.user.gender }}',
};

var my_user_id = {{ app.user.id }};

var url = 'https://example.tavro.io/api/v1/users/' + my_user_id;

$http.patch(url, profile)
.success(function(data) {
  alert('Your profile has been updated!');
});</code></pre>
      </div>
      <div role="tabpanel" class="tab-pane" id="php">
<pre><code class="php">$profile = [
  'username' => '{{ app.user.username }}',
  'email' => '{{ app.user.email }}',
  'gender' => '{{ app.user.gender }}',
  'birthday' => '{{ app.user.birthday }}'
];

$my_user_id = {{ app.user.id }};

$url = sprintf('https://example.tavro.io/api/v1/users/%s', $my_user_id);

$curl = new Curl();
$curl->setBasicAuthentication('{{ app.user.apiKey }}', '{{ app.user.apiPassword }}');
$curl->patch($url, $profile);

if ($curl->error) {
    echo 'Error: ' . $curl->errorCode . ': ' . $curl->errorMessage;
}
else {
    echo $curl->response;
}</code></pre>
      </div>
    </div>

    <div class="page-header">
      <h2>Response Data</h2>
      <p>Data is returned as <code>XML</code> or <code>JSON</code>. If you do not specify a proper <code>Accept</code> header, <code>JSON</code> will be returned.</p>
    </div>

    <h4>Sample Response Data</h4>

    <pre><code class="jsonview">{
    data: [
      {
        id: 14,
        status: 1,
        create_date: "2016-01-11T18:30:36+0000",
        update_date: "2016-01-11T18:30:36+0000",
        username: "user",
        email: "user@tavro.dev",
        last_online_date: "2016-01-13T19:09:48+0000",
        api_enabled: true,
        guid: "1ecfcf03-c31a-42b4-b8ad-6dd507b25d6d",
        nodes: [ ],
        organizations: [ ],
        roles: [
            "ROLE_USER"
        ],
        avatar: null
      }
    ],
    code: 200,
    message: "something clever..."
  }</code></pre>

  </div>

{% endblock %}