{% extends 'TavroAppBundle:Layouts:documentation.html.twig' %}
{% set front_page = false %}
{% block body_classes %}doc-page{% endblock %}

{% block content %}

  <div class="page-header">

    <h1>User API</h1>
    <p class="lead"><i class="fa fa-fw fa-user"></i> Interact with <code>api.tavro.io</code> and manage your User profile.</p>

  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      User Model
    </div>
    <table class="table table-hover table-striped table-api">
      <thead>
        <tr>
          <th>Field</th>
          <th>Type</th>
          <th>Methods</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>id</td>
          <td class="integer">integer</td>
          <td>GET, DELETE</td>
          <td>Unique identifier.</td>
        </tr>
        <tr>
          <td>guid</td>
          <td class="string">string</td>
          <td>GET</td>
          <td>Globally unique identifier.</td>
        </tr>
        <tr>
          <td>update_date</td>
          <td class="date">date</td>
          <td>GET</td>
          <td></td>
        </tr>
        <tr>
          <td>create_date</td>
          <td class="date">date</td>
          <td>GET</td>
          <td></td>
        </tr>
        <tr>
          <td>last_online_date</td>
          <td class="date">date</td>
          <td>GET</td>
          <td></td>
        </tr>
        <tr>
          <td>api_key</td>
          <td class="string">string</td>
          <td>GET</td>
          <td></td>
        </tr>
        <tr>
          <td>api_password</td>
          <td class="string">string</td>
          <td>GET</td>
          <td></td>
        </tr>
        <tr>
          <td>status</td>
          <td class="integer">integer</td>
          <td>GET</td>
          <td></td>
        </tr>
        <tr>
          <td>email</td>
          <td class="string">string</td>
          <td>GET, CREATE, PATCH</td>
          <td></td>
        </tr>
        <tr>
          <td>username</td>
          <td class="string">string</td>
          <td>GET, CREATE, PATCH</td>
          <td></td>
        </tr>
        <tr>
          <td>gender</td>
          <td class="string">string</td>
          <td>GET, CREATE, PATCH</td>
          <td>[Male, Female, Other]</td>
        </tr>
        <tr>
          <td>birthday</td>
          <td class="date">date</td>
          <td>GET, CREATE, PATCH</td>
          <td></td>
        </tr>
        <tr>
          <td>organizations</td>
          <td class="array">array</td>
          <td>GET</td>
          <td>Organizations this User owns.</td>
        </tr>
        <tr>
          <td>user_organizations</td>
          <td class="array">array</td>
          <td>GET</td>
          <td>Organizations this user is assigned to.</td>
        </tr>
        <tr>
          <td>nodes</td>
          <td class="array">array</td>
          <td>GET</td>
          <td>Nodes this User has created.</td>
        </tr>
        <tr>
          <td>roles</td>
          <td class="array">array</td>
          <td>GET</td>
          <td>Roles this User has.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="profile">

    <div class="page-header">
      <h2>User Profile</h2>
      <a name="profile"></a>
      <p>User Profile Api details.</p>
      <pre><i class="fa fa-fw fa-link"></i> https://{account}.tavro.io/api/v1/users/{user}.{format}</pre>
    </div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#user-create" aria-controls="user-create" role="tab" data-toggle="tab"><i class="fa fa-fw fa-plus-circle text-success"></i> Create</a></li>
      <li role="presentation"><a href="#user-update" aria-controls="user-update" role="tab" data-toggle="tab"><i class="fa fa-fw fa-refresh text-info"></i> Update</a></li>
      <li role="presentation"><a href="#user-delete" aria-controls="user-delete" role="tab" data-toggle="tab"><i class="fa fa-fw fa-close text-danger"></i> Delete</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="user-create">

        <!-- Nav tabs -->
        <ul class="nav nav-pills" role="tablist">
          <li role="presentation" class="active"><a href="#user-create-angular" aria-controls="user-create-angular" role="tab" data-toggle="tab">Angular</a></li>
          <li role="presentation"><a href="#user-create-php" aria-controls="user-create-php" role="tab" data-toggle="tab">PHP</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="user-create-angular">
<pre><code class="javascript">var auth = Base64.encode({API_KEY} + ':' + {API_PASSWORD});
$http.defaults.headers.common['Authorization'] = 'Basic ' + auth;

var user = {
    username: 'Fezzik',
    email: 'fezzik@cliffs-of-insanity.com',
    gender: 'Male',
    birthday: '1987-09-25',
};

var url = 'https://{{ api_hostname }}/api/v1/users/';

$http.post(url)
.success(function(data) {
  alert('Your profile has been created!');
});</code></pre>
      </div>
      <div role="tabpanel" class="tab-pane" id="user-create-php">
<pre><code class="php">$my_user_id = {user};

$url = sprintf('https://{{ api_hostname }}/api/v1/users/%s', $my_user_id);

$user = [
    'username' => 'Fezzik',
    'email' => 'fezzik@cliffs-of-insanity.com',
    'gender' => 'Male',
    'birthday' => '1987-09-25'
];

$curl = new Curl();
$curl->setBasicAuthentication('{API_KEY}', '{API_PASSWORD}');
$curl->patch($url, $user);

if ($curl->error) {
    echo 'Error: ' . $curl->errorCode . ': ' . $curl->errorMessage;
}
else {
    echo $curl->response;
}</code></pre>
          </div>
        </div>

      </div>
      <div role="tabpanel" class="tab-pane" id="user-update">

        <!-- Nav tabs -->
        <ul class="nav nav-pills" role="tablist">
          <li role="presentation" class="active"><a href="#user-update-angular" aria-controls="user-update-angular" role="tab" data-toggle="tab">Angular</a></li>
          <li role="presentation"><a href="#user-update-php" aria-controls="user-update-php" role="tab" data-toggle="tab">PHP</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="user-update-angular">
<pre><code class="javascript">var auth = Base64.encode({API_KEY} + ':' + {API_PASSWORD});
$http.defaults.headers.common['Authorization'] = 'Basic ' + auth;

var my_user_id = {user};

var user = {
    email: 'fezzik@florin.com'
};

var url = 'https://{{ api_hostname }}/api/v1/users/' + my_user_id;

$http.patch(url, user)
.success(function(data) {
  alert('Your profile has been updated!');
});</code></pre>
      </div>
      <div role="tabpanel" class="tab-pane" id="user-update-php">
<pre><code class="php">$my_user_id = {user};

$url = sprintf('https://{{ api_hostname }}/api/v1/users/%s', $my_user_id);

$user = [
    'email' => 'fezzik@florin.com',
];

$curl = new Curl();
$curl->setBasicAuthentication('{API_KEY}', '{API_PASSWORD}');
$curl->patch($url, $user);

if ($curl->error) {
    echo 'Error: ' . $curl->errorCode . ': ' . $curl->errorMessage;
}
else {
    echo $curl->response;
}</code></pre>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="user-delete">

        <!-- Nav tabs -->
        <ul class="nav nav-pills" role="tablist">
          <li role="presentation" class="active"><a href="#user-delete-angular" aria-controls="user-delete-angular" role="tab" data-toggle="tab">Angular</a></li>
          <li role="presentation"><a href="#user-delete-php" aria-controls="user-delete-php" role="tab" data-toggle="tab">PHP</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="user-delete-angular">
<pre><code class="javascript">var auth = Base64.encode({API_KEY} + ':' + {API_PASSWORD});
$http.defaults.headers.common['Authorization'] = 'Basic ' + auth;

var my_user_id = {user};

var url = 'https://{{ api_hostname }}/api/v1/users/' + my_user_id;

$http.delete(url)
.success(function(data) {
  alert('Your profile has been deleted!');
});</code></pre>
      </div>
      <div role="tabpanel" class="tab-pane" id="user-delete-php">
<pre><code class="php">$my_user_id = {user};

$url = sprintf('https://{{ api_hostname }}/api/v1/users/%s', $my_user_id);

$curl = new Curl();
$curl->setBasicAuthentication('{API_KEY}', '{API_PASSWORD}');
$curl->delete($url);

if ($curl->error) {
    echo 'Error: ' . $curl->errorCode . ': ' . $curl->errorMessage;
}
else {
    echo $curl->response;
}</code></pre>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="organizations">

    <div class="page-header">
      <a name="#organizations"></a>
      <h2>User Organizations</h2>
      <p>Manage the Organizations this User belongs to.</p>

      <pre><i class="fa fa-fw fa-link"></i> https://{account}.tavro.io/api/v1/users/{user}/organizations.{format}</pre>

    </div>


  </div>

{% endblock %}