{% extends 'TavroCoreBundle:Email:base.html.twig' %}

{% block email_body %}
  <p>{{ user.person.firstName }} ({{ user.username }}),</p>

  <p>You are receiving this email because your account was triggered via the `Forgot Password` link. If you did not submit this requested, please contact us immediately.</p>

  <p>To reset your password, please <a href="http://{{ app_hostname }}/auth/reset?token={{ user.passwordToken }}">visit this page</a> to proceed.</p>

  <p class="small">The URL above expires: {{ user.passwordResetTokenExpires|date('Y-m-d h:i:s') }}</p>
{% endblock %}