{% extends 'TavroFrontendBundle:Layouts:app.html.twig' %}

{% block body_classes %}api{% endblock %}

{% block content %}

  <div class="page-header">
    <span class="pull-right">
      <a class="btn btn-sm btn-default" href="{{ path('example_api_create') }}"><i class="fa fa-fw fa-arrow-circle-o-left"></i> Return to List</a>
    </span>
    <h1>API::create</h1>
    <p class="lead"><i class="fa fa-fw fa-plus-circle"></i> Create (POST) a new <span class="text-muted">{{ entity_name }}</span>.</p>
  </div>

  <div class="clearfix">

    <div class="col-lg-4">

      {{ form_start(form, {'attr': {'id':'api-form'}, 'action': path('example_api_create_entity_submit', {'entity':entity_route_name}), 'method': 'POST'}) }}
      {{ form_rest(form) }}
      {{ form_end(form) }}

      <hr />

      <button id="api-submit" type="submit" class="btn btn-success">
        <i class="fa fa-fw fa-plus-circle"></i> Create
      </button>

    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-6">

      <table class="table table-responsive table-striped">
        <tr>
          <th>Host</th>
          <td><code>{{ app_hostname }}</code></td>
        </tr>
        <tr>
          <th>Route</th>
          <td><code>api_post_entity</code></td>
        </tr>
        <tr>
          <th>Path</th>
          <td><code>/api/{{ entity_route_name }}.{format}</code></td>
        </tr>
        <tr>
          <th>Method(s)</th>
          <td><code>POST</code></td>
        </tr>
        <tr>
          <th>Format</th>
          <td><strong>JSON</strong></td>
        </tr>
      </table>

    </div>
  </div>

  <div class="page-header">
    <span class="pull-right">
      <a class="btn btn-sm btn-default" href="javascript:;" id="clear-data"><i class="fa fa-fw fa-eraser"></i> Clear</a>
    </span>
    <h2>Response</h2>
  </div>

  <pre><code id="api-data" class="json">{}</code></pre>

{% endblock %}