{% extends 'TavroAppBundle:Layouts:app.html.twig' %}

{% block header %}

<ol class="breadcrumb">
  <li><a href="{{ path('index') }}"><i class="fa fa-fw fa-home"></i></a></li>
  <li><a href="{{ path('content') }}"><i class="fa fa-fw fa-folder-open"></i> Content Library</a></li>
  {% if node_type is defined %}<li>{{ node_type|capitalize }}</li>{% endif %}
</ol>

<div class="page-header">
  <h1>{% if title_class is defined %}<i class="ra {{ title_class }}"></i> {% endif %}{{ node_type|capitalize }}s</h1>
  <p class="lead"></p>
</div>
{% endblock %}

{% block content -%}

  <div ng-controller="NodeController as nCtrl">
    <section ng-init="loadNodes()">
      <div class="alert alert-warning" ng-show="!nodes.length && !nodesLoading"><i class="fa fa-fw fa-warning"></i> There are no nodes.</div>
      {% include 'TavroAppBundle:Node:table.html.twig' %}
    </section>
  </div>

{% endblock %}

{% block sidebar %}
  {% include 'TavroAppBundle:Node:sidebar.html.twig' %}
{% endblock %}

{% block js %}
  {% if node_type is defined and node_type is not null %}
  <script type="text/javascript">
    tavro.node_type = "{{ node_type }}";
  </script>
  {% endif %}
{% endblock %}