<p>The following {{ users|length }} users have no home!</p>

<div class="list-group">
    {% foreach user in users %}
    <a class="list-group-item">
        <h3 class="list-group-item-heading">({{ user.id }}) {{ user.person.email }}</h3>
        <p class="list-group-item-text">{{ user.person.username }} ({{ user.person.lastName }}, {{ user.person.firstName }})</p>
        <p class="list-group-item-text">Joined {{ user.createDate|date('Y-m-d') }}, Last Online {{ user.lastOnlineDate|date('Y-m-d') }}</p>
    </a>
    {% endfor %}
</div>

{% include 'TavroCoreBundle:Email:signature.html.twig' %}