{% extends '::base.html.twig' %}

{% block body_classes %}forgot{% endblock %}
{% block title %}Documentation{% endblock %}

{% block body %}
<div class="nav-side-menu">
    <div class="brand">Tavro.io API</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li {% if front_page is defined %}class="active"{% endif %}><a href="{{ url('api_doc_index') }}"><i class="fa fa-fw fa-home"></i> Getting Started</a></li>
            <li {% if user_page is defined %}class="active"{% endif %}><a href="{{ url('api_doc_user') }}"><i class="fa fa-fw fa-user"></i> User</a></li>
            <li {% if organization_page is defined %}class="active"{% endif %}><a href="{{ url('api_doc_organization') }}"><i class="fa fa-fw fa-building"></i> Organization</a></li>
            <li {% if expense_page is defined %}class="active"{% endif %}><a href="{{ url('api_doc_expense') }}"><i class="fa fa-fw fa-credit-card"></i> Expenses</a></li>
            <li {% if funding_page is defined %}class="active"{% endif %}><a href="{{ url('api_doc_funding') }}"><i class="fa fa-fw fa-bank"></i> Funding</li>
            <li {% if node_page is defined %}class="active"{% endif %}><a href="{{ url('api_doc_node') }}"><i class="fa fa-fw fa-cube"></i> Node</a></li>
            <li {% if product_page is defined %}class="active"{% endif %}><a href="{{ url('api_doc_product') }}"><i class="fa fa-fw fa-car"></i> Product </a></li>
            <li {% if revenue_page is defined %}class="active"{% endif %}><a href="{{ url('api_doc_revenue') }}"><i class="fa fa-fw fa-money"></i> Revenue </a></li>
            <li {% if service_page is defined %}class="active"{% endif %}><a href="{{ url('api_doc_service') }}"><i class="fa fa-fw fa-briefcase"></i> Service</a></li>
            <li {% if shareholder_page is defined %}class="active"{% endif %}><a href="{{ url('api_doc_shareholder') }}"><i class="fa fa-fw fa-user-secret"></i> Shareholders</a></li>
            <li {% if comment_page is defined %}class="active"{% endif %}><a href="{{ url('api_doc_comment') }}"><i class="fa fa-fw fa-comment"></i> Comment</a></li>
            {% if app.user %}<li id="symfony"><a href="{{ url('logout') }}"><i class="fa fa-fw fa-sign-out"></i> Sign out as [{{ app.user.username }}]</a></li>{% endif %}

        </ul>
    </div>
</div>

<div id="page-body">
    <div class="container-fluid">{% block content %}{% endblock %}</div>
</div>
{% endblock %}