{# src/tavro/UserBundle/Resources/views/Security/login.html.twig #}

{% extends '::base.html.twig' %}

{% block body_classes %}forgot{% endblock %}
{% block title %}Forgot{% endblock %}
{% block body %}

<div class="col-md-6 col-md-offset-3">

  <div class="panel panel-primary">
    <div class="panel-body">

      <h1><i class="fa fa-fw fa-user-secret"></i> Forgot Your Password?</h1>
      <p class="">Please enter your email address, and we will send an email with a link to verify and reset your password.</p>
      <hr />

      {{ form_start(form, {'attr': {'class': ''}}) }}
      {{ form_errors(form) }}

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-fw fa-envelope-o"></i> Email Address</div>
          {{ form_widget(form.email, {'attr': {'placeholder': 'yourname@example.com'}}) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_widget(form.submit) }}
      </div>

      {{ form_end(form) }}

    </div>
  </div>

</div>

{% endblock %}