{# src/tavro/UserBundle/Resources/views/Security/password.html.twig #}

{% extends '::base.html.twig' %}

{% block body_classes %}password{% endblock %}
{% block title %}Password Reset{% endblock %}
{% block header %}<h1><i class="fa fa-fw fa-refresh"></i> Reset Password</h1>{% endblock %}
{% block body %}

<div >

  <div class="form-group">
    <p>Enter your new password below.</p>
  </div>

  {% if valid_token %}
    {% if message %}
      <div class="alert alert-{{ message.type }}">{{ message.body }}</div>
    {% endif %}
    {{ form(password_reset_form) }}
  {% else %}
    {% if message %}
      <div class="alert alert-{{ message.type }}">{{ message.body }}</div>
    {% endif %}
    {{ form(resend_form) }}
  {% endif %}

</div>

{% endblock %}
